<div class="grid grid-cols-12 my-2 border-b border-gray-300 py-3 gap-6">

    <div class="col-span-1">
        <img [src]="product.product.imageCover" class="w-full" alt="">
    </div>


    <div class="col-span-11 flex justify-between">

        <div>
            <h2 class="text-2xl">{{product.product.title}}</h2>
            <span class="text-main my-3 block">Price: {{product.price}} EGP</span>
            <button (click)="onRemoveItem()"
             class="rounded transition cursor-pointer text-red-600 px-4 py-2 border border-red-600 hover:bg-red-600 hover:text-white">
                <i class="fa fa-trash-can"></i> Remove
            </button>
        </div>

        <div>
            <button (click)="onChangeQty(product.count+1)" class="border-main border rounded transition cursor-pointer text-main hover:text-white px-4 py-2 hover:bg-main/80">
                +
            </button>
            <span class="px-1"> {{product.count}} </span>
            <button (click)="onChangeQty(product.count-1)" class="border-main border rounded transition cursor-pointer text-main hover:text-white px-4 py-2 hover:bg-main/80">
                -
            </button>
        </div>




    </div>

</div>