<div class="max-w-md mx-auto my-10 border border-gray-300 p-5 rounded-2xl">
    <h1 class="font-bold mb-5 text-2xl">Adderss Now:</h1>

<form [formGroup]="addressForm" (ngSubmit)="getValues()">
    


    <div class="mb-5">
        <label for="details" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Details</label>
        <textarea formControlName="datails" type="text" name="details" id="details"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main focus:border-main block w-full p-2.5"
        placeholder="Type your details..."></textarea>




       <app-errors-message [control]="addressForm.get('datails')"></app-errors-message>



    </div>


    <div class="mb-5">
        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Phone</label>

        <div class="relative w-full">

            <input formControlName="phone" type="text" name="phone" id="phone"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main focus:border-main block w-full p-2.5"
        placeholder="Type your phone..." />

        </div>


<app-errors-message [control]="addressForm.get('phone')"></app-errors-message>



    </div>



    <div class="mb-5">
        <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your City</label>

        <div class="relative w-full">

            <input formControlName="city" type="text" name="city" id="city"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main focus:border-main block w-full p-2.5"
        placeholder="Type your city..." />

        </div>


<app-errors-message [control]="addressForm.get('city')"></app-errors-message>



    </div>




    <button type="submit" [disabled]="isLoading"
     class="bg-main rounded text-white px-5 py-2 cursor-pointer hover:bg-main/80">
    
        @if (!isLoading) {
            Pay
        }@else {
            Loading...
        }
    
    </button>


    @if (errorMsg) {
        <div class="bg-red-100 border my-3 border-red-400 text-rose-700 px-4 py-3 rounded relative">
            {{errorMsg}}
        </div>
    }

</form>
</div>