   @if (loadingSub) {
     <h2 class="text-2xl text-main text-center my-7">{{categoryName + ' Subcategories'}}</h2>
    
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-4">
        @for (subcategory of subcategories; track $index) {
            <div class=" border hover:shadow-[.5px_.5px_6px_theme(colors.main)] border-gray-300 hover:border-main rounded-2xl py-4 cursor-pointer">
                <h2 class="text-center">{{subcategory.name}}</h2>
            </div>
        }
    </div>
   } 
   
