<nav class="bg-light">
    <div class="flex max-w-screen-xl flex-wrap md:flex-nowrap mx-auto justify-between p-4">
        <div class="logo">
            <a routerLink="/products">
                <img src="./images/freshcart-logo.svg" alt="">
            </a>
        </div>
        <button (click)="toggleMobile()" class="md:hidden cursor-pointer">
            <i class="fa-solid fa-bars text-[25px]"></i>
        </button>
        <div [class.hidden]="isMobileOpen" class="links my-5 md:my-auto grow  md:flex w-full flex-wrap md:flex-row flex-col justify-between px-10">
            <ul class="flex gap-4 flex-col md:flex-row">

                @if(authType == 'user'){
                    <li> <a routerLink="/home" routerLinkActive="text-main" class="hover:text-main">Home</a> </li>
                    <li> <a routerLink="/products" routerLinkActive="text-main" class="hover:text-main">Products</a> </li>
                    <li> <a routerLink="/categories" routerLinkActive="text-main" class="hover:text-main">Categories</a> </li>
                    <li> <a routerLink="/brands" routerLinkActive="text-main" class="hover:text-main">Brands</a> </li>
                    <li> <a routerLink="/wishlist" routerLinkActive="text-main" class="hover:text-main">Wishlist</a> </li>
                    <li> <a routerLink="/cart" routerLinkActive="text-main" class="hover:text-main">Cart</a> </li>
                }
                
            </ul>
            <ul class="flex gap-4 ms-auto border-t my-3 py-2 md:my-0 md:p-0 md:border-0 md:flex-row">

                @if(authType == 'auth'){
                    <li> <a routerLink="/login" routerLinkActive="text-main" class="hover:text-main">Login</a> </li>
                    <li> <a routerLink="/register" routerLinkActive="text-main" class="hover:text-main">Register</a> </li>
                } @else {
                    <li> <a (click)="logout()" routerLink="/logout" routerLinkActive="text-main" class="hover:text-main">Logout</a> </li>
                }

            </ul>
        </div>
    </div>
</nav>