<div class="max-w-md mx-auto my-10 border border-gray-300 p-5 pb-0 rounded-2xl">
    <h1 class="font-bold mb-5 text-2xl">Forget password</h1>
    
    
    @if (step===1) {
        <form [formGroup]="verifyEmail" (ngSubmit)="formStep1()">

        
        <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Email</label>

        <input
        formControlName="email"
         type="email" name="email" id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main focus:border-main block w-full p-2.5"
        placeholder="Type your email..." />


        <button type="submit" [disabled]="isLoading"
     class="my-5 bg-main rounded text-white px-5 py-2 cursor-pointer hover:bg-main/80">
    
        @if (!isLoading) {
            Verify Email
        }@else {
            Loading...
        }
    </button>
    </div>

    </form>
    }

    @else if (step===2) {
        <form [formGroup]="verifyCode" (ngSubmit)="formStep2()">

        
        <div class="mb-5">
        <label for="code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Code</label>

        <input
        formControlName="resetCode"
         type="text" name="code" id="code"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main focus:border-main block w-full p-2.5"
        placeholder="Type code..." />


        <button type="submit" [disabled]="isLoading"
     class="my-5 bg-main rounded text-white px-5 py-2 cursor-pointer hover:bg-main/80">
    
        @if (!isLoading) {
            Verify Code
        }@else {
            Loading...
        }
    </button>
    </div>

    </form>
    }

    
    @else if (step===3) {
        <form [formGroup]="resetPassword" (ngSubmit)="formStep3()">

        
        <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Email</label>

        <input
        formControlName="email"
         type="email" name="email" id="email"
        class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main focus:border-main block w-full p-2.5"
        placeholder="Type your email..." />



        <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your New Password</label>

        <input
        formControlName="newPassword"
         type="password" name="newPassword" id="newPassword"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main focus:border-main block w-full p-2.5"
        placeholder="Type your password..." />


        <button type="submit" [disabled]="isLoading"
     class="my-5 bg-main rounded text-white px-5 py-2 cursor-pointer hover:bg-main/80">
    
        @if (!isLoading) {
            Reset Password
        }@else {
            Loading...
        }
    </button>
    </div>

    </form>
    }



    




</div>